.hero-banner{
  background:#080808;
  padding:60px 0;
}


.hero-card{
  background:
  radial-gradient(circle at top right,#5b3b16 0%,transparent 30%),
  #111;

  border-radius:35px;
  padding:45px;

  border:1px solid rgba(190,145,75,.35);

  overflow:hidden;
}



/* left */


.hero-section h1{

font-size:64px;
line-height:1.05;
font-weight:500;
color:#fff;

font-family:Georgia,serif;

margin:25px 0;

}


.badge-custom{

display:inline-block;

background:#c79b5b;

color:white;

padding:10px 22px;

border-radius:30px;

font-size:13px;

letter-spacing:1px;

font-weight:700;

}



.hero-description{

color:#d1d1d1;

font-size:18px;

line-height:1.8;

max-width:500px;

}



/* buttons */


.btn-primary-custom{

background:#d5a866;

color:white!important;

padding:16px 38px;

border-radius:5px;

font-weight:700;

text-decoration:none;

}



.btn-secondary-custom{

border:1px solid #d5a866;

color:white!important;

padding:16px 38px;

border-radius:5px;

text-decoration:none;

}



/* image */


.hero-image-box{

background:#b88945;

padding:12px;

border-radius:35px;

box-shadow:0 0 40px rgba(210,160,80,.35);

}



.hero-banner-img{

width:100%;

height:650px;

object-fit:cover;

border-radius:28px;

display:block;

}



/* features */


.hero-features{

display:flex;

gap:30px;

}


.hero-features div{

color:#fff;

}


.hero-features span{

color:#d5a866;

font-size:25px;

}


.hero-features h6{

text-transform:uppercase;

font-size:13px;

margin:8px 0;

}


.hero-features p{

color:#aaa;

font-size:12px;

}




/* bottom */


.hero-bottom{

margin-top:45px;

border:1px solid rgba(213,168,102,.3);

border-radius:25px;

padding:25px;

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

}



.hero-bottom div{

color:#d5a866;

display:grid;

grid-template-columns:40px 1fr;

align-items:center;

}



.hero-bottom h6{

margin:0;

font-size:14px;

}



.hero-bottom p{

grid-column:2;

color:#aaa;

font-size:12px;

margin:0;

}




@media(max-width:768px){

.hero-card{
 padding:25px;
}


.hero-section h1{

font-size:40px;

}


.hero-banner-img{

height:450px;

}


.hero-features,
.hero-bottom{

grid-template-columns:1fr;

display:grid;

}

}